.classroom-editor
  .manager-summary
    background-color: white
    border: solid 2px #DEDEDE
    border-bottom: none  //Visually blend with manager-table

    .summary__return-link
      font-size: 0.8em

    .grommetux-list
      font-size: 0.75em

      .grommetux-list-item
        border: none

        .grommetux-label
          flex: 0 0 auto
          width: 16em
          font-size: inherit
          margin: 0
          margin-right: 2em

  .manager-table
    background-color: white
    border: solid 2px #DEDEDE

    &__link
      color: #00969c !important
      font-family: "Roboto Mono", monospace
      font-size: 0.75em !important
      font-weight: bold
      letter-spacing: 1px
      line-height: 1em

      &:hover, &:focus
        color: darken(#00969c, 40%) !important

    &__caption
      // bottom: -2.25em
      font-size: 1.25em
      font-weight: bold
      padding: 11px 12px 11px 24px
      // position: relative
      // text-align: left

    &__headers
      background-color: GREY_5
      font-family: "Roboto Mono", monospace
      font-size: 0.75em

      .headers__header
        border: none
        font-size: inherit
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase

      button
        &:hover, &:focus
          color: black !important

    &__row-data
      font-family: "Roboto Mono", monospace
      font-size: 0.75em

      td  // Overwrite standard grommet padding
        padding-top: 0.2em
        padding-bottom: 0.2em

      td:first-child
        font-weight: bold

    &__row-data:not(:last-child)
      border-bottom: solid 2px #DEDEDE

    &__button--edit
    &__button--delete
      border: none

    .grommetux-table__table
      margin: 0

  .join-link__button
    margin-left: 2em
    margin-right: 2em

    &:hover, &:focus
      background-color: #004b54
      border-color: #004b54 !important
      color: white !important

