.classrooms-manager
  &__instructions
    margin: 0 auto

  .manager-table
    background-color: white
    border: solid 2px #DEDEDE

    &__link
      color: #00969c !important
      font-family: "Roboto Mono", monospace
      font-size: 0.75em !important
      font-weight: bold
      letter-spacing: 1px
      line-height: 1em
      text-decoration: none

      &:hover, &:focus
        color: darken(#00969c, 40%) !important

    &__headers
      .headers__header
        font-family: "Roboto Mono", monospace
        font-size: 0.75em
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase

    &__button--as-link
      border: none
      color: #00969c !important
      font-family: "Roboto Mono", monospace
      font-size: 0.75em !important
      font-weight: bold
      letter-spacing: 1px
      line-height: 1em

      &:hover, &:focus
        color: darken(#00969c, 40%) !important

    &__row-header
      background-color: GREY_5
      border-top: solid 2px #DEDEDE !important
      border-bottom: solid 2px #DEDEDE !important
      font-family: "Roboto Mono", monospace
      font-size: 0.9em
      font-weight: bold

    &__row-data:not(:last-child)
      border-bottom: solid 2px #DEDEDE

    &__button--edit
    &__button--delete
    &__button--create
      border: none

    .grommetux-table__table
      margin: 0

