.classroom-manager
  &__table
    background-color: white
    border: solid 2px #DEDEDE

  .table
    &__caption
      bottom: -2.25em
      font-weight: bold
      position: relative
      text-align: left

    &__row-header
      background-color: GREY_5
      border-top: solid 2px #DEDEDE !important
      border-bottom: solid 2px #DEDEDE !important

    &__row-data:not(:last-child)
      border-bottom: solid 2px #DEDEDE

