.map-explorer
  overflow: hidden
  position: relative
  
  .map-controls
    position: absolute
    top: 1em
    right: 1em
    z-index: 500  //Required to place controls above .map-visuals's Leaflet map
    
    //TMP: Arbitrary styles
    background: white
    padding: 1em
    border: 1px solid black
    
    button
      font-size: inherit
    
    //TMP: Layout
    width: 80%
    max-width: 20em
    max-height: 40vh
    overflow: auto
