BORDER_SIZE = 0.25rem

.wildcam-classrooms

  .classrooms-list
    border: BORDER_SIZE solid TEAL_MID
    
    .table
      .button
        max-width: 10em
    
  .classroom-form
  .assignment-form
    border: BORDER_SIZE solid TEAL_MID
    
    .details-list
      > li
        label
          font-weight: bold
          margin: 0
          width: 12em
          flex: 0 0 auto
          
        span
          flex: 1 1 auto
          
    
    .subjects-list
      .data-subjects
        .item
          display: inline-block
          max-width: 10em
          
          img
            display: block
            width: 100%
    
    textarea
      min-height: 8em
    
  .students-list
    border: BORDER_SIZE solid #fff
  
  .subjects-list
    border: BORDER_SIZE solid #fff

  .status-box
    background: TEAL_LIGHT

  .actions-panel
    .button
      margin: 0 0.5em

  .assignments-list
    border: BORDER_SIZE solid #fff
    
    .assignment      
      tr, td
        vertical-align: top
      
      td:nth-child(2)
        width: 12rem
        padding: 2rem 0
        
        .button
          flex: 0 0 auto
          padding: 0.25rem

          .grommetux-button__icon
            font-size: 0.75rem
            margin: 0 0.25rem 0 0

          .grommetux-button__label
            font-size: 0.75rem
            margin: 0
            
    .details-list
      > li
        label
          font-weight: bold
          margin: 0
          flex: 1 1 auto

        span
          width: 12rem
          flex: 0 0 auto

  .helper-text
    font-size: 0.8em
    font-style: italic
