BORDER_SIZE = 0.25rem

.wildcam-classrooms

  .classrooms-list
    border: BORDER_SIZE solid TEAL_MID
    
  .classroom-form
    border: BORDER_SIZE solid TEAL_MID

  .status-box
    background: TEAL_LIGHT

  .actions-panel
    display: flex
    justify-content: center
    
    .button
      margin: 0 0.5em
